[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
requests = "*"
bs4 = "*"
Flask = "2.0.2"
flask-limiter = "2.0.2"
discord = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
